{% load static %}
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'app/calendar/airdatepicker/air-datepicker.css' %}">
	  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<title>{{title}}</title>
</head>
<header>
	<nav class="menu-burger">
	  <input type="checkbox" id="menu-toggle">
	  <label for="menu-toggle" class="backside-menu-btn"><img src="{% static 'app/images/backside_menu.png' %}"></label>
	  <ul>
	    {% for c in categories %}
	    	<li><a href="{{ c.get_absolute_url }}">{{ c.cat }}</a></li>
	    {% endfor %}
	  </ul>
	</nav>
	<div class="bg-nav">
	<nav class="menu-name">
		<ul class="Logo-list">
			<li><a href="{% url 'index_page' %}" style="color: black;">
				<span style="color: #C0C0C0;">Re</span><sup class="upper-index">75</sup>
				<span style="color: #EFBF00;">Ac</span><sup class="upper-index">89</sup>
				T<span style="color: #800080;">I</span><sup class="upper-index">53</sup>
				Ve M<span style="color:#3C3A3A">Ar</span><sup class="upper-index">18</sup>T</a>
			</li>
		</ul>
	</nav>

	<nav class="second-menu">
		<ul>
			<li>
				{% block search %}
				{% endblock %}
			</li>
			{% if request.user.is_authenticated %}
				<li class="profile"><a href="{% url 'user_profile' %}"><img src="{% static 'app/images/profile.png' %}"></a></li>
				<li class="cart"><a href="{% url 'user_cart' %}"><img src="{% static 'app/images/cart.png' %}"></a></li>
			{% else %}
				<li class="profile"><a href="{% url 'login_user' %}"><img src="{% static 'app/images/profile.png' %}"></a></li>
				<li class="cart"><a href="{% url 'login_user' %}"><img src="{% static 'app/images/cart.png' %}"></a></li>
			{% endif %}

		</ul>
	</nav>

</div>
</header>
<body>
	<div class="content">
		{% block content %}
		{% endblock %}
	</div>
</body>