{% extends 'app/base.html' %}
{% load static %}
{% load app_tags %}

{% block content %}

{% if cart_items|length > 0 %}
<div class="cart-items">
	<button class="clear_cart" onclick="clearCart()">X</button>
{% for cart_item in cart_items %}
    <div class="cart-item">
        <button class="remove-item" data-item-id="{{ cart_item.id }}" onclick="removeItem(event)">x</button>
        <span class="item-img"><img src="{{cart_item.product.product_image.url}}"></span>
        <span class="item-name">{{ cart_item.product.product_name|truncatechars:34 }}</span>
        <button data-item-id="{{ cart_item.id }}" onclick="changeQuantity(event, -1, {{  cart_item.product.product_price }})" class="decrease-btn">-</button>
        <span class="item-count" id="item-quantity-{{ cart_item.id }}">{{ cart_item.quantity }}</span>
        <button data-item-id="{{ cart_item.id }}" onclick="changeQuantity(event, 1, {{  cart_item.product.product_price }})">+</button>
        <div class="price">
            <span class="item-price" id="item-price-{{ cart_item.id }}">{{ cart_item.product.product_price|mul:cart_item.quantity }} <sub>руб</sub></span>
            <span class="default-item-price" id="def-item-price-{{cart_item.pk}}">{{ cart_item.quantity }} * {{ cart_item.product.product_price }} руб</span>
        </div>
        <div class="bar"></div>
    </div>
{% endfor %}
	<span class="total-amount" id="total-amount">Итоговая сумма: {{ total_amount }} руб</span>
{% endif %}
</div>
{% if cart_items|length > 0 %}
	<div class="buy">
		<a href="{% url 'buy_cart_items' %}" class="buy">Заказать</a>
	</div>
{% endif %}
<script src="{% static 'app/js/main.js' %}">
</script>

{% endblock %}