@font-face{
	font-family: 'itimcyrillic';
	src:url("./fonts/itimcyrillic.otf");
}
@font-face{
	font-family: 'Sriracha';
	src:url("./fonts/Sriracha.ttf");
}

/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*--------------------*/
html {
	font-family: "itimcyrillic";
}

header {
	position: fixed;
	width: 100%;
	z-index: 100;
	margin-top: -100px;
}



/*Menu*/
.bg-nav {
	-webkit-box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.2);
	background-color: white;
}

.content {
	margin-top: 100px;
}

.Logo-list {
	font-size: 250%;
	display: flex;
	justify-content: center;
}

.menu-name {
	background-color: white;
}

.second-menu ul {
	display: flex;
	height: 100px;
}
.second-menu ul img {
	width: 20%;
}

.search-input {
	background-color: #F1F1F1;
	border: 1px solid #DCDCDC;
	border-radius: 15px;
	display: flex;
	position: absolute;
	left: 27%;
	width: 30%;
	height: 35px;
	margin-top: 20px;
	max-width: 1000px;
	max-height: 40px;
	padding: 10px;
	font-size: 20px;
	-webkit-box-shadow: 0px 8px 5px -6px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 8px 5px -6px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 8px 5px -6px rgba(34, 60, 80, 0.2);
}

.cart {
	position: absolute;
	left: 89%;
	margin-left: 20px;
}

.cart img {
	min-width: 60px;
}

.cart a::before {
	content: "";
	position: absolute;
	width: 60px;
	height: 3px;
	bottom: -3px;
	border-radius: 3px;
	left: 0;
	background-color: #6563ff; 
	transform: scaleX(0); 
	transform-origin: bottom right;
	transition: transform 0.3s;
}

.cart a:hover::before {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.profile {
	position: absolute;
	left: 84%;
}

.profile img {
	min-width: 60px;
}


.profile a::before {
	content: "";
	position: absolute;
	width: 60px;
	height: 3px;
	bottom: -3px;
	border-radius: 3px;
	left: 0;
	background-color: #8ec7f5; 
	transform: scaleX(0); 
	transform-origin: bottom right;
	transition: transform 0.3s;
}

.profile a:hover::before {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.search-btn {
	margin-top: 5px;
	left: 58%;
	width: 12%;
	position: absolute;

}

.search-btn img {
	position: absolute;
	background-color: #F1F1F1;
	border-radius: 50%;
	padding: 2px;
	min-width: 40px;
	-webkit-box-shadow: 0px 2px 4px 1px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 2px 4px 1px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 2px 4px 1px rgba(34, 60, 80, 0.2);
}

.backside-menu-btn {
	position: absolute;
	left: 2%;
	margin-top: 50px;
	z-index: 2;
	display: flex;
	align-items: center;
}

.backside-menu-btn img{
	width: 50px;

}

/*Menu-burger*/
.menu-burger {
	position: relative;
}

.menu-burger input[type="checkbox"] {
	display: none;
}

.menu-burger label.backside-menu-btn {
	display: block;
	cursor: pointer;
}

.menu-burger ul {
	display: none;
	position: absolute;
	top: 120%;
	left: 0;
	padding: 0;
	margin: 0;
	margin-top: 100px;
	background-color: #ffffff;
	box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.2);
}

.menu-burger ul li {
	margin-top: 10px;
  	padding: 10px;
}

.menu-burger input[type="checkbox"]:checked ~ ul {
  display: block;
}
/*Product-card*/

.flying-cart-animation {
    position: fixed;
    width: 50px; /* Укажите ширину и высоту изображения */
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 9999;
    transition: transform 0.6s cubic-bezier(.75,-0.5,.25,1.5);
    animation: flyToCart 1s ease-out;
}

@keyframes flyToCart {
    from {
        transform: translate(0, 0);
        opacity: 1;
    }
    to {
        transform: translate(calc(var(--cart-x) - var(--start-x)), calc(var(--cart-y) - var(--start-y)));
        opacity: 0;
    }
}

.category {
	font-size: 200%;
	margin-left: 20px;
}

.products {
	justify-content: center;
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
}

.product {
	margin-left: 20px;
	margin-top: 20px;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	text-align: center;
	height: 350px;
	width: 200px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);
}

.product:hover {
	transition: 0.1s;
	transform: scale(1.05);
}

.product-img img {
	height: 150px;
}

.product-img {
	display: flex;
	justify-content: center;
}

.product-name {
	font-size: 150%;
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.product-name a {
	color: black;
}

.stroke {
	margin: 0 auto;
	text-align: center;
	width: 100px;
	margin-top: 10px;
	height: 1px;
	background-color: black;
}

.product-price {
	display: flex;
	justify-content: center;
	font-size: 150%;
	margin-top: 10px;
}

.count {
	margin-top: 10px;
	font-size: 150%;
	display: flex;
	justify-content: center;
}

.count button {
	font-weight: bold;
	background-color: white;
	margin-left: 10px;
	margin-right: 10px;
}

.add-to-cart {
	display: block;
  	margin: 0 auto;
	background-color: #30D340;
	color: white;
	font-size: 150%;
	width: 150px;
	border-radius: 5px;
	margin-top: 10px;
}

.add-to-cart:hover {
	transition: 0.1s;
	transform: scale(1.05);
}

/*register-and-login-menu*/
.register-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-size: 150%;
	margin-top: 100px;
	font-size: 150%;
}

.user-exists {
	position: absolute;
	margin-left: 350px;
	width: 250px;
}

.register-form label {
	font-size: 120%;
}

.form-field {
	display: flex;
}

.form-field img {
	width: 40px;
	height: 40px;
	margin-top: 10px;
	margin-right: 10px;
	border:2px solid #D2D2D2;
	padding: 1px;
	-webkit-box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);
}

.username_input, .password_input, .adress_input, .birth_day_input {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	background-color: white;
	width: 110%;
	height: 40px;
	font-size: 120%;
	border: 1px solid #D2D2D2;
	-webkit-box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);
}

.register {
	display: flex;
	justify-content: center;
	align-items: center	;
}

.register button {
	text-align: center;
	background-color: #05F900;
	color: white;
	font-size: 160%;
	width: 340px;
	height: 40px;
	border-radius: 5px;
	margin-top: 10px;

}

.no-acc {
	display: flex;
	justify-content: center;
	font-size: 20px;
}

.form-error {
	display: flex;
	width: 20%;
	color: red;
}

/* profile-page */

.profile-main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 200px;
}

.profile-field, .profile-field-red {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.profile-field img, .profile-field-red img {
	width: 60px;
	border: 1px solid #DCDCDC;
	-webkit-box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);

}

.profile-field a, .profile-field-red a {
  font-size: 200%;
  position: relative; 
  color: black;
  margin-left: 20px;
  height: 60px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  padding: 10px;
  width: 400px;
  text-decoration: none;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);
}

.profile-field a::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 3px;
  bottom: 3px;
  left: 5%;
  border-radius: 5px;
  background-color: #8fc8f7; /* Цвет подчеркивания */
  transform: scaleX(0); /* Начальное состояние: нет подчеркивания */
  transform-origin: center;
  transition: transform 0.3s;
}

.profile-field-red a::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 3px;
  bottom: 3px;
  left: 5%;
  border-radius: 5px;
  background-color: #ff5100; /* Цвет подчеркивания */
  transform: scaleX(0); /* Начальное состояние: нет подчеркивания */
  transform-origin: center;
  transition: transform 0.3s;
}

.profile-field a:hover::before, .profile-field-red a:hover::before {
  transform: scaleX(1); /* Плавное появление подчеркивания при наведении */
  transform-origin: bottom left;
}

/* about profile  */

.profile-main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 200px;
}

.profile-field-info {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.profile-field-info img {
	width: 60px;
	border: 1px solid #DCDCDC;
	-webkit-box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);

}

.profile-field-info span {
	font-size: 200%;
	position: relative; 
	color: black;
	margin-left: 20px;
	height: 60px;
	display: flex; 
	align-items: center; 
	justify-content: center; 
	padding: 10px;
	width: 400px;
	text-decoration: none;
	-webkit-box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);
}

/* cart-page */

.cart-items {
	display: flex;
	margin: 100px auto;
	flex-direction: column;
	width: 600px;
	border: 1px solid #DCDCDC;
	-webkit-box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);
}

.cart-item {
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.remove-item {
	float: left;
	margin-left: 5%;
	font-size: 250%;
	margin-top: -55px;
	color: #757575;
}

.remove-item:hover {
	transition: 0.2s;
	background-color: red;
}

.item-img img {
	height: 90px;
}

.item-name {
	display: block;
	font-size: 150%;
	width: 200px;
}

.cart-item button {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	padding-bottom: 5px;
	font-size: 200%;
	background-color: #D9D9D9;
	border-radius: 50%;
	width: 30px;
	height: 30px;

}

.item-count {
	font-size: 200%;
	margin-left: 10px;
	margin-right: 10px;
}

.price {
	display: flex;
	flex-direction: column;
}

.item-price {
	display: block;
	width: 100px;
	font-size: 150%;
	margin-left: 20px;
}	

.default-item-price {
	color: #D9D9D9;
	margin-left: 20px;
}

.bar {
	position: absolute;
	background-color: black;
	align-content: center;
	margin-top: 95px;
	height: 1px;
	width: 580px;
	left: 50%;
  	transform: translateX(-50%); 
}

.buy {
	display: flex;
	justify-content: center;
	align-items: center	;
}

.buy a {
	text-align: center;
	background-color: #05F900;
	color: white;
	font-size: 160%;
	width: 340px;
	height: 40px;
	border-radius: 5px;
	margin-top: -100px;

}

.total-amount {
	text-align: right;
	font-size: 120%;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
}

.clear_cart {
	text-align: left;
	display: f;
}

/* Order-history */

.order-items {
	display: flex;
	margin: 20px auto;
	flex-direction: column;
	width: 600px;
	margin-bottom: 100px;
	border: 1px solid #DCDCDC;
	-webkit-box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);
}

.order-date {
	font-size: 150%;
	margin-left: 10px;
	margin-top: 35px;
}

.order-item-img img {
	width: 100px;
}

.order-item {
	display: flex;
	align-items: center;
}

.date-bar {
	background-color: black;
	display: flex;
	align-content: center;
	text-align: center;
	margin-top: 95px;
	margin-top: 30px;
	height: 1px;
	width: 580px;
	margin-left: 50%;
  	transform: translateX(-50%); 
}

.total-amount {
	margin-top: 30px;
	font-size: 120%;
}

.order-items-info {
	margin-top: 50px;
}

.orders-bar {
	position: absolute;
	background-color: #CCCCCC;
	align-content: center;
	margin-top: 55px;
	height: 1px;
	width: 580px;
	left: 50%;
	z-index: 1;
  	transform: translateX(-50%); 
}

.order-item-name {
	font-size: 150%;
}

.order-item-quantity {
	margin-left: 20px;
	font-size: 150%;
}

.order-item-price {
	margin-left: 20px;
	margin-top: 5px;
	color: #D9D9D9;
}

.price {
	display: flex;
}

/* Product-page  */

.product-info {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: left;
	margin-left: 50px;
	margin-top: 10px;
}

.product-name-info {
	font-size: 200%;
	width: 200px;
}

.product-img-info img {
	display: flex;
	margin-top: 10px;
	height: 250px;
}

.product-characteristics-info span {
	font-size: 200%;
	margin-left: 100px;
	display: block;
	position: absolute;
	left: 250px;
	top: 160px;
}


.product-description-info {
	width: 1000px;
	font-size: 150%;
	text-align: left;

}